body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 20vh auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  clear: both;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 100px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.Top-Container {
  box-sizing: border-box;
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

.Top-Container__TopCloud {
  position: absolute;
  top: 5vh;
  left: 65vw;
  width: 10%;
}

.Top-Container__Description {
  font-size: 2.5rem;
  width: 60%;
  margin: 0 auto;
}

.Top-Container__BottomCloud {
  position: absolute;
  left: 20vw;
  bottom: 25vh;
  z-index: 5;
  width: 10%;
}

.Top-Container__BottomCloud2 {
  position: absolute;
  right: 25vw;
  bottom: 20vh;
  z-index: 30;
  width: 10%;
}

.Top-Container__mountain {
  position: absolute;
  bottom: 0;
  right: 20vw;
  width: 35%;
  z-index: 10;
}

.Top-Container__mountain2 {
  position: absolute;
  bottom: 0;
  left: 15vw;
  width: 45%;
  z-index: 20;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  padding: 50px;
  text-align: left;
  clear: both;
  background-color: #EAF6F6;
  box-shadow: 10px 10px 1px #B3D9D9;
}

.skill-row p {
  padding-bottom: 60px;
  font-size: 1rem;
}

.img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
}

.profile {
  padding: 80px 0 0;
}

.profile__description {
  width: 30%;
  margin: 0 auto;
  font-size: 1rem;
}

.profile__MyImg {
  box-sizing: border-box;
  border-radius: 100%;
  border: 8px solid #B3D9D9;
  width: 20%;
}

.contact-me__description {
  width: 35%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto 66px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer__p {
  color: #EAF6F6;
  font-size: 0.85rem;
}

/* @media only screen and ( min-width: 1200px ) {
  .Top-Container {
    height: 100vh;
  }
} */

/* @media only screen and ( max-width: 1199px ) {
  .Top-Container {
    height: 110vh;
  }
} */

@media only screen and ( max-width: 1600px ) {
  .Top-Container__mountain {
    right: 10vw;
  }

  .Top-Container__mountain2 {
    left: 10vw;
  }

  .profile__MyImg {
    width: 30%;
  }

  .skill-row-img {
    width: 30%;
  }
}

@media only screen and ( max-width: 1004px ) {
  h1 {
    font-size: 4.5rem;
  }

  .Top-Container__Description {
    font-size: 2rem;
  }

  .Top-Container__mountain {
    right: 0;
    width: 55%;
  }

  .Top-Container__mountain2 {
    left: 0;
    width: 65%;
  }

  .profile__description {
    width: 50%;
  }

  .contact-me__description {
    width: 50%;
  }

  .Top-Container__TopCloud {
    width: 20%;
  }

  .Top-Container__BottomCloud {
    width: 20%;
  }

  .Top-Container__BottomCloud2 {
    width: 20%;
  }

  .skill-row-img {
    width: 30%;
  }

}

@media only screen and ( max-width: 750px ) {
  h1 {
    font-size: 3.5rem;
  }

  .Top-Container__Description {
    font-size: 1.5rem;
  }

  .profile__MyImg {
    width: 45%;
  }

  .profile__description {
    width: 70%;
  }

  .skill-row {
    width: 60%;
    padding: 15px 50px;
  }

  .skill-row-img {
    width: 35%;
  }
}
